* {
    font-family: "JetBrainsMono NerdFont";
    border: none;
    min-height: 0;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    color: #c7ab7a;
    background: #1d2021;
    border: 1px solid #c7ab7a;
    border-radius: 4px;
    font-family: 
        SpaceMono Nerd Font,
        feather;
}

.modules-left,
.modules-center,
.modules-right
{
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}
.modules-left {
    /* border-color: #c7ab7a; */
    margin: 6px 0px 6px 0px;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 4px;
}

#idle_inhibitor {
    padding: 0 15px;
    border-radius: 4px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: #151717;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
    font-family: SpaceMono Nerd Font;
    font-weight: 900;
    font-size: 13pt;
    border: 1px solid #c7ab7a;
    border-radius: 4px;
    margin-right: 2px;
}

#workspaces button.active {
    color: #13131d;
    background-color: #c7ab7a;
}

#workspaces button:hover {
    background: #151717;
    border: 1px solid #e1cba4;
    color: #e1cba4;
    box-shadow: none;
}

#custom-arch {
    margin-left: 0px;
    padding: 0 13px;
    font-size: 25px;
}
#custom-arch:hover {
    color: #f9eedb;
}
